const path = require('path')

module.exports = {
    mode: "development",
    entry: "./src/index.js",
    output: {
        path: path.resolve(__dirname, "dist/assets"),
        filename: "bundle.js",
        publicPath: "/assets/"
    },
    devServer: {
        inline:true,
        contentBase: "./dist",
        port: 3000
    },
    module: {
        rules: [
            {
                test: /\.js$/,
                exclude: path.resolve(__dirname, "node_modules"),
                loader: "babel-loader",
                options: {
                    presets: ['env', 'stage-0']
                }
            },
            {
                test: /\.json$/,
                exclude: path.resolve(__dirname, "node_modules"),
                loader: "json-loader"
            }
        ]
    }
}